# Routine Management System


### Sayantan Bhattacharyya
### Stream- CSE
### Batch- 2020-2024
### Enrollment no.- 12020002002159
### Sec- B
### Roll- 120

In [1]:
import pandas as pd

In [2]:
def create_csv(p):
    df=pd.DataFrame(tt)
    df.to_csv('timetable.csv')
    alter(p)

In [3]:
def alter(p):
    filename='timetable.csv'
    timetable_file=pd.read_csv(filename)
    dict={}
    for i in range(0, p+1):
        if i==0:
            dict[str(i)]="DAY"
        else:
            dict[str(i)]="PERIOD "+str(i)
    timetable_file=timetable_file.drop('Unnamed: 0', axis=1)
    timetable_file=timetable_file.rename(dict, axis=1)
    timetable_file=timetable_file.set_index("DAY")
    timetable_file.to_csv('timetable.csv')
    display(timetable_file)

In [4]:
#creating the timetable through the concept of 2D string array with means of python lists
tt=[]
def create():
    day_count=int(input("Enter no. of Days--"))
    peroid_count=int(input("Enter no. of periods each day--"))
    days=[]
    time=[]
    time.append("----------")
    subs=[]
    print("Enter days of a week for timetable--")
    print("[In chronological order]")
    for i in range(day_count):
        a=input("Enter: ")
        days.append(a)
    i=0
    print("Enter time for each period")
    print("[In 24 hrs format]")
    for i in range(peroid_count):
        t=input("Time for period "+str(i+1)+" :")
        time.append(t)
    tt.append(time)
    i=0
    for i in days:
        subs.append(i)
        for j in range(len(time)-1):
            s=input("Enter subject for "+i+" period "+str(j+1)+" : ")
            subs.append(s)
        tt.append(subs)
        subs=[]
    create_csv(peroid_count)

In [5]:
def show_csv():
    filename='timetable.csv'
    timetable_file=pd.read_csv(filename)
    print("TimeTable Exists")
    print("Displaying TimeTable")
    display(timetable_file)

In [7]:
try:
    show_csv()
except:
    print("TimeTable dosn't exists. Need to create one.")
    create()

TimeTable Exists
Displaying TimeTable

,DAY,PERIOD 1,PERIOD 2,PERIOD 3,PERIOD 4,PERIOD 5,PERIOD 6
0,----------,9:30-10:30,10:30-11:30,11:30-12:30,13:15-14:15,14:15-15:15,15:15-16:15
1,MONDAY,Python,Maths,English,DSA,SDP,SDP
2,TUESDAY,Analog Electronics,English,AI-ML,DSA,Digital Electronics Lab,Digital Electronics Lab
3,WEDNESDAY,Maths,Analog Electronics LAb,Analog Electronics Lab,Digital Electronics,ESP,ESP
4,THURSDAY,DSA,Digital Electronics,English,job preparation,job preparation,Mentoring
5,FRIDAY,AI-ML,DSA lab,DSA lab,R/Scilab,Project,Project